{% extends "layout.html" %}

{% block content %}

<div class="banner">
    <img class="banner-image" src="static/images/LunaBakeryBanner.png" alt="Luna's Bakery Banner">
</div>
<div class="slogancontainer">
    <img class="banner-image" src="static/images/slogan.png" alt="Luna's Bakery slogan">
</div>
<br>
<div class="aboutuscontainer">
    <h1 class="about-us">About Us</h1>
    <p class="paragraph-us">Luna's Bakery, inspired by our beloved cat,
         was created to make every day sweet. We deliver happy 
         moments to our customers in different flavors, colors, 
         and shapes. From cakes to breads, we know our way around
          dough and also your heart. Take a look at our menu, you might just find your next craving.</p>
</div>

<div class="row" id="products_page">
    <div class="col-md-12">
        <div class="row">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <a href="/menu"><img src="/static/images/fruitCake.jpeg" class="product_card-img" alt="..."></a>
                                <div class="product_card-body">
                                    <h5 class="product_card-title">Cake</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <a href="/menu"><img src="/static/images/cupcakes.jpeg" class="product_card-img" alt="..."></a>
                                <div class="product_card-body">
                                    <h5 class="product_card-title">Cupcake</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <a href="/menu"><img src="/static/images/milkBread.jpeg" class="product_card-img" alt="..."></a>
                                <div class="product_card-body">
                                    <h5 class="product_card-title">Bread</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="review">
        <h1>Review</h1>

        <div class="review-container">
            <form action="/review" method="POST">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" id="first_name">

                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" id="last_name">

                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email">

                    <label for="review">Review:</label>
                    <input type="text" name="review" id="review">

                <button type="submit">Submit</button>
            </form>
        </div>

    </div>
    <hr>
    <div class="ContactContainer">
        <div class="ContactInformation">
            <h1 class="contactus">Contact Us!</h1>
            <h3>email:lunasbakery@gmail.com</h3>
            <h3>phone:919-592-5634</h3>
        </div>
    </div>
    <br>
</div>


{% endblock %}

{% block active %}
    <script>
        // JavaScript code to set the "Menu" navigation item as active
        const homeNav = document.querySelector('a[href="/home"]');
        homeNav.classList.add('active');
    </script>
{% endblock %}