{% extends "layout.html" %}

{% block content %}
<div class="row" id="info_row">
    <h3>Welcome back!</h3>
    <div class="col-md-12" id="login_class">
        <form action="/home" method="post" id="login_form">
            <div class="form-group" id="info_form_group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="form-group" id="info_form_group">
                <label for=" password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary" id="login_button">Login</button>
        </form>
        <a href="/reset_password"><button>Forgot your password?</button></a>
    </div>
</div>
{% endblock %}

{% block active %}
    <script>
        // JavaScript code to set the "Menu" navigation item as active
        const loginNav = document.querySelector('a[href="/login"]');
        loginNav.classList.add('active');
    </script>
{% endblock %}