{% extends "layout.html" %}

{% block head %}

    
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Additional styles specific to the menu page -->
    
{% endblock %}

{% block content %}
    <!-- Menu content -->
    <div class="menu-section">

        <div class="category-container">
            <div class="category-title">Cake</div>
        </div> <!-- End of the category container -->

        
        {% for product in products %}
        {% if product.category == "Cake" %}
        <div class="menu-item-container">

            <!-- Image with name and info -->
            <img src="{{ product.image_url }}" alt="{{ product.item_name }}" class="menu-item-image">
            
            <div class="menu-item-info">
                <h5>{{ product.item_name }}</h5>
                <p>{{ product.info }}</p>
                
            </div>

            <!-- Price on the right -->
            <div class="menu-item-price">${{ product.price }}</div>
        </div>
        {% endif %}
        {% endfor %}

        <div class="category-container">
            <div class="category-title">Cupcake</div>
        </div> <!-- End of the category container -->
        
        {% for product in products %}
        {% if product.category == "Cupcake" %}
        <div class="menu-item-container">

            <!-- Image with name and info -->
            <img src="{{ product.image_url }}" alt="{{ product.item_name }}" class="menu-item-image">
            
            <div class="menu-item-info">
                <h5>{{ product.item_name }}</h5>
                <p>{{ product.info }}</p>
                
            </div>

            <div class="menu-item-price">${{ product.price }}</div>

        </div>
        {% endif %}
        {% endfor %}

        <div class="category-container">
            <div class="category-title">Bread</div>
        </div> <!-- End of the category container -->
        
        {% for product in products %}
        {% if product.category == "Bread" %}
        <div class="menu-item-container">

            <!-- Image with name and info -->
            <img src="{{ product.image_url }}" alt="{{ product.item_name }}" class="menu-item-image">
            
            <div class="menu-item-info">
                <h5>{{ product.item_name }}</h5>
                <p>{{ product.info }}</p>
                
            </div>

            <div class="menu-item-price">${{ product.price }}</div>

        </div>
        {% endif %}
        {% endfor %}
        
{% endblock %}

{% block active %}
    <script>
        // JavaScript code to set the "Menu" navigation item as active
        const menuNav = document.querySelector('a[href="/menu"]');
        menuNav.classList.add('active');
    </script>
{% endblock %}